### **Master pd.cut vs pd.qcut!** üêº

In [ ]:
import pandas as pd
import random

[(0.999, 1.75], (1.75, 2.5], (2.5, 3.25], (3.25, 4.0]]
Categories (4, interval[float64, right]): [(0.999, 1.75] < (1.75, 2.5] < (2.5, 3.25] < (3.25, 4.0]]

#### **1. pd.qcut()**
Divides data into **quantile-based** bins

In [ ]:
# Create bins automatically
pd.qcut(range(1,5), 5)

In [ ]:
# Manually grouping range 
pd.qcut(range(1,5), [0, 0.25, 0.5, 0.75, 1])

[(0.999, 1.75], (1.75, 2.5], (2.5, 3.25], (3.25, 4.0]]
Categories (4, interval[float64, right]): [(0.999, 1.75] < (1.75, 2.5] < (2.5, 3.25] < (3.25, 4.0]]

In [26]:
df = pd.DataFrame()
df['numbers'] = [random.randint(1, 9) for x in range(10)]
labels = ['S', 'M', 'L', 'XL']
df['bins'] = pd.qcut(df.numbers, 4, labels=labels, duplicates='drop')
df

   numbers bins
0        1    S
1        3    S
2        7   XL
3        2    S
4        5    M
5        5    M
6        6    L
7        6    L
8        7   XL
9        7   XL

#### **2. pd.cut()**
Divides data into equal-width bins

In [31]:
df = pd.DataFrame()
df['age'] = [random.randint(20, 100) for x in range(100)]
df['age_group'] = pd.cut(df['age'], [0, 20, 40, 60, 80, 100])
df['age_group_with_labels'] = pd.cut(df['age'], [0, 20, 40, 60, 80, 100], 
                                     labels=["Young", "Mid", "Old", "Older", "Oldest"])
df

    age  age_group age_group_with_labels
0    86  (80, 100]                Oldest
1    65   (60, 80]                 Older
2    22   (20, 40]                   Mid
3    27   (20, 40]                   Mid
4    60   (40, 60]                   Old
..  ...        ...                   ...
95   88  (80, 100]                Oldest
96   95  (80, 100]                Oldest
97   62   (60, 80]                 Older
98   45   (40, 60]                   Old
99   47   (40, 60]                   Old

[100 rows x 3 columns]

In [29]:
pd.cut(df['numbers'], [0, 20, 40, 60, 80, 100])

0      (40, 60]
1      (60, 80]
2     (80, 100]
3      (40, 60]
4      (60, 80]
        ...
95      (0, 20]
96     (60, 80]
97     (60, 80]
98     (60, 80]
99    (80, 100]
Name: numbers, Length: 100, dtype: category
Categories (5, interval[int64, right]): [(0, 20] < (20, 40] < (40, 60] < (60, 80] < (80, 100]]